* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  transition: 0.8s ease-in;
}

a {
  text-decoration: none;
}

header {
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
}

div.navigation {
  background-color: #fff;
  position: fixed;
  padding-right: 0;
  top: 0;
  width: 100vw;
  z-index: 6000;
}
div.navigation::after {
  content: " ";
  position: absolute;
  border-top: 1px solid rgb(151, 148, 148);
  height: 1.75rem;
  background: #fff;
  width: 100%;
  z-index: 7000;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(151, 148, 148);
}
div.navigation .barre_d_icones {
  background-color: #e3eff5;
  width: 100vw;
  height: 2.7em;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.navigation .barre_d_icones .icone_accueil {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Simple Thread;
  height: 100%;
  color: #000;
  background-color: #fff;
}
div.navigation .barre_d_icones .icone_accueil .icone_accueil_logo {
  padding: 0.3em;
  margin: 5px 10px;
}

.barre_d_icones nav {
  height: 100%;
}

.barre_d_icones .icones_d_options {
  display: flex;
  color: rgb(151, 148, 148);
  padding-top: 0.2rem;
  padding-left: 2.2rem;
  padding-right: 3rem;
  margin-right: 0;
  margin-top: 0rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.4 ease;
  gap: 2rem;
}
.barre_d_icones .icones_d_options .icone_centrale {
  border-left: solid rgb(151, 148, 148) 1px;
  padding-top: 0.2rem;
  padding-left: 0.92rem;
  padding-right: -0.62rem;
  margin-right: -0.62rem;
  font-size: 1.5rem;
}
.barre_d_icones .icones_d_options li {
  font-size: 1.6em;
  margin-right: -10px;
}

.icones_d_options li a {
  color: rgb(151, 148, 148);
}
.icones_d_options li a:hover {
  color: rgb(39, 23, 127);
}

.favoris {
  padding-top: 0.2em;
}

.barre_d_icones .icones_d_options li {
  color: rgb(151, 148, 148);
  transition: color 0.45s ease-in-out;
}

.barre_d_icones .icones_d_options li img {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
}

li {
  list-style: none;
}

.barre_d_icones .menu_hamburger {
  color: rgb(151, 148, 148);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.barre_d_options {
  width: 100%;
  height: 3.5rem;
  margin: 0.44rem 0.44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  align-items: center;
}

.option_creation {
  position: relative;
  text-align: center;
  margin: 0.31rem 1.25rem;
  cursor: pointer;
}

.bordure_option_creation {
  height: 3rem;
  display: inline;
  border: 0.05rem solid rgb(151, 148, 148);
}

div span {
  display: block;
}

.icone_creation {
  color: #fff;
  background-color: rgb(39, 23, 127);
  font-size: 1.2rem;
  padding: 0.4rem 0.3rem;
  border-radius: 3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.icone_creation:hover {
  color: rgb(39, 23, 127);
  background-color: #fff;
  border: solid rgb(39, 23, 127) 0.1rem;
}

.barre_de_recherche {
  position: relative;
  width: 14rem;
  margin: 0.3rem 1.5rem;
}
.barre_de_recherche label {
  position: relative;
  width: 100%;
}
.barre_de_recherche label input {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  font-style: italic;
  outline: none;
  border: 1px solid rgb(39, 23, 127);
  background-color: #fff;
  border-radius: 0.5rem;
}
.barre_de_recherche label input:focus {
  border: 1px solid rgb(151, 148, 148);
}

.barre_de_recherche label .icone_de_recherche {
  position: absolute;
  top: -0.3rem;
  right: 0rem;
  bottom: 0rem;
  height: 2rem;
  font-size: 1.2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  padding: 0.3rem 0.4rem;
  background-color: rgb(39, 23, 127);
  cursor: pointer;
}

.mode {
  display: flex;
  padding-right: 4rem;
  align-items: center;
  height: 100%;
}
.mode .switch {
  position: relative;
  display: inline-block;
  width: 3.25rem;
  height: 1.88rem;
}
.mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(151, 148, 148);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mode .slider:before {
  position: absolute;
  content: "";
  height: 1.38rem;
  width: 1.38rem;
  left: 0.15rem;
  bottom: 0.25rem;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.mode input:checked + .slider {
  background-color: rgb(39, 23, 127);
}
.mode input:focus + .slider {
  box-shadow: 0 0 0.063rem rgb(39, 23, 127);
}
.mode input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.mode .slider.round {
  border-radius: 2.13rem;
}
.mode .slider.round:before {
  border-radius: 50%;
}

@media (max-width: 1228px) {
  .mode {
    padding-top: 1rem;
  }
}
@media (max-width: 413px) {
  .barre_d_options {
    margin: 0.44rem 0.01rem;
  }
  .barre_de_recherche {
    position: relative;
    width: 12rem;
    margin: 0.3rem 1rem;
  }
}
@media (max-width: 290px) {
  .option_creation {
    margin: 0.31rem 0.65rem;
  }
  .barre_d_options {
    margin: 0.44rem 0.01rem;
  }
  .barre_de_recherche {
    position: relative;
    width: 9rem;
    margin: 0.3rem 0.5rem;
  }
}
.barre_deroulante {
  display: none;
  position: absolute;
  right: 0;
  top: 3.75rem;
  height: 0;
  width: 18.75rem;
  background: #e3eff5;
  backdrop-filter: blur(0.94rem);
  border-bottom-left-radius: 0.94rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 8000;
}

.barre_deroulante.open {
  height: 17.5rem;
}

.barre_deroulante nav ul li {
  color: rgb(151, 148, 148);
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: color 0.45s ease-in-out;
}
.barre_deroulante nav ul li span {
  margin-right: 0.75rem;
}

.icones_secondaires::before {
  content: " ";
  position: absolute;
  border-top: 1px solid rgb(151, 148, 148);
  margin-top: 2rem;
  width: 80%;
  z-index: 9000;
  box-shadow: 1px 1px 1px #e3eff5;
}

.icone_hamburger {
  color: rgb(151, 148, 148);
  margin-right: 1rem;
}

@media (max-width: 992px) {
  .barre_d_icones .icones_d_options,
  .barre_d_icones .action_btn {
    display: none;
  }
  .barre_d_icones .menu_hamburger,
  .barre_deroulante {
    display: block;
  }
}
@media (max-width: 576px) {
  .barre_deroulante {
    top: 2.5rem;
    width: 100vw;
  }
}
main {
  width: 100vw;
  box-sizing: border-box;
  justify-content: center;
}

.cartes {
  justify-content: center;
  top: 6rem;
  margin: 0;
  width: 100%;
  padding: 20px 0px;
  background-size: 100%;
  font-size: 0.8rem;
  float: left;
  position: relative;
  background-color: #e3eff5;
}

.grille_des_cartes {
  position: relative;
  width: 100%;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-gap: 20px;
}

.carte {
  background: #fff;
  position: relative;
  width: 100%;
  height: 21rem;
  border-radius: 0.5rem;
  display: inline-grid;
  grid-template-columns: auto;
  cursor: pointer;
  box-shadow: 0 0.34rem 1rem rgb(151, 148, 148);
}
.carte img {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 3rem;
}

.section_de_carte {
  padding: 0rem;
}

.entete_carte {
  margin: 0.5rem 0rem;
}
.entete_carte p {
  color: #000;
}
.entete_carte p span {
  display: inline;
  margin: 0rem 0.5rem;
  font-weight: bold;
}

.informations {
  top: 9rem;
  color: #000;
  position: absolute;
  padding: 0.5rem 0.4rem;
  width: 100%;
}
.informations .titre {
  font-weight: bold;
  padding: 0.75rem 0rem;
}
.informations .description {
  padding: 0.75rem 0rem;
  text-align: justify;
}

.infos {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
.infos p span {
  font-weight: bolder;
  margin-bottom: -0.8rem;
}
.infos .date_modif {
  text-align: left;
}
.infos .application {
  text-align: right;
}

.options_de_fin {
  padding: 0.7rem;
  text-align: center;
  color: rgb(39, 23, 127);
  margin-top: 0.4rem;
}
.options_de_fin span {
  display: inline;
  padding: 0rem 0.5rem;
}

@media (max-width: 1228px) {
  .mode {
    padding-top: 1rem;
  }
  .options_de_fin {
    padding: 0.7rem;
    text-align: center;
    color: rgb(39, 23, 127);
    margin-top: 0.4rem;
  }
  .options_de_fin span {
    display: inline;
    padding: 0rem 0.3rem;
  }
}
.options_de_fin span:hover {
  color: #272323;
}

@media (max-width: 1025px) {
  .grille_des_cartes {
    grid-template-columns: repeat(2, 4fr);
    position: relative;
    width: 100%;
    padding: 50px 20px;
    display: grid;
    grid-gap: 20px;
  }
  .carte {
    background: #fff;
    position: relative;
    color: #fff;
    width: 100%;
    height: 21rem;
    border-radius: 0.5rem;
    display: inline-grid;
    grid-template-columns: auto;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
}
@media (max-width: 755px) {
  .grille_des_cartes {
    grid-gap: 10px;
    grid-template-columns: repeat(1, 8fr);
  }
  .carte img {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 3rem;
  }
}
@media (max-width: 480px) {
  .grille_des_cartes {
    grid-gap: 10px;
  }
}
.dark .navigation {
  background-color: #272323;
  color: #fff;
}
.dark .navigation .barre_d_icones {
  background-color: #444242;
}
.dark .navigation .barre_d_icones .icone_accueil {
  color: #fff;
  background-color: #272323;
}
.dark .navigation .barre_d_icones .icones_d_options li a {
  color: #e3eff5;
}
.dark .navigation .barre_d_icones .icones_d_options li a:hover {
  color: rgb(39, 23, 127);
}
.dark .navigation::after {
  border-top: 0.063rem solid #fff;
  height: 1.75rem;
  background: #272323;
  box-shadow: 0 0.12rem 0.3rem rgb(151, 148, 148);
}
.dark .barre_de_recherche label input {
  border: 1px solid #fff;
  background-color: #272323;
}
.dark .barre_de_recherche label input:focus {
  border: 1px solid rgb(39, 23, 127);
}
.dark .barre_de_recherche label .icone_de_recherche {
  color: rgb(39, 23, 127);
  background-color: #fff;
  font-weight: bold;
}
.dark .icone_creation {
  background-color: #fff;
  color: rgb(39, 23, 127);
}
.dark .icone_creation:hover {
  background-color: rgb(39, 23, 127);
  color: #fff;
}
.dark .barre_deroulante {
  background: #444242;
}
.dark .barre_deroulante nav ul li {
  color: #e3eff5;
}
.dark .message_infructueux {
  color: #fff;
}
.dark .cartes {
  background-color: #444242;
}
.dark .carte {
  background: #272323;
  color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgb(151, 148, 148);
}
.dark .carte .section_de_carte .entete_carte p {
  color: rgb(151, 148, 148);
}
.dark .carte .section_de_carte .informations p {
  color: rgb(151, 148, 148);
}
.dark .carte .section_de_carte .informations .options_de_fin {
  color: #338fb9;
}
.dark .carte .section_de_carte .informations .options_de_fin span:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
